.alert {
  border: none;
  border-radius: 16px;
  padding: 22px 30px;
  margin-bottom: 20px;
  &.alert-warning {
    color: #FF9F43;
  }
  .alert-heading {
    margin-bottom: 8px;
    font-size: 18px;
  }
  p {
    width: 100%;
    max-width: 480px;
    margin-bottom: 0;
  }
  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 1;
    font-size: 14px;
  }
}