.form-control {
  border-color: #DEE2E6;
  border-radius: 3px;
  color: #707070;
  font-size: 14px;
  &::-webkit-input-placeholder {
    color: #707070;
    font-size: 14px;
  }
  &:-ms-input-placeholder {
    color: #707070;
    font-size: 14px;
  }
  &::placeholder {
    color: #707070;
    font-size: 14px;
  }
}