{% set page_id = "Index" %}
{% extends "layout.html" %}
	{% block content %}
	<!--https://pxltheme.com/html/bolby/demo/index-3.html-->
	<div class="invoice" id="invoice">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="invoice-wrap">
						<div class="content-invoice">
							<div class="alert alert-warning" role="alert">
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								<h4 class="alert-heading">Warning!</h4>
  							<p>This page is a representation of what your customer will see. Do NOT send the url for this page to your customer.</p>
							</div>
							<div class="alert alert-success" role="alert">
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								<h4 class="alert-heading">Thank You!</h4>
  							<p>This quote has been accepted.</p>
							</div>
							<div class="table-responsive">
								<table class="heading-invoice mb-4">
									<tr>
										<td>
											<img src="./dist/images/logo.png" alt="logo" />
										</td>
										<td>
											<p class="mb-2"><b>Your Account Manager</b></p>
											<p class="mb-0"><b>Karan Sanghvi</b></p>
											<p class="text-primary mb-0">ksanghvi@resolvecollaboration.com</p>
											<p class="text-primary mb-0">(416) 848-4815</p>
										</td>
									</tr>
								</table>
							</div>

							<div class="table-responsive">
								<table class="detail-invoice mb-4">
									<tr>
										<td colspan="2" class="head-column">
											Quote: KSA-00004816 CMG Marketing - Pheedloop Support
										</td>
									</tr>
									<tr>
										<td class="title-content">
											<b>Prepared For:</b>
										</td>
										<td></td>
									</tr>
									<tr>
										<td>
											<p class="mb-0">CMG Marketing</p>
											<p class="mb-0">Laura Gutsch</p>
											<p class="mb-0">895 Don Mills Road Suite 109</p>
											<p class="mb-0">Toronto, ON</p>
											<p class="mb-0">Canada, M3C1W3</p>
											<p class="mb-0">Laura@cmgmarketing.com</p>
											<p class="mb-0">4166463050</p>
										</td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2" class="footer-column">
											<p class="mb-0 text-danger fw-semi-bold">Quote valid until Friday December 31st 2021</p>
										</td>
									</tr>
								</table>
							</div>

							<div class="table-responsive">
								<table class="detail-invoice statement mb-4">
									<tr>
										<td colspan="3" class="head-column">
											Statement of Work
										</td>
									</tr>
									<tr>
										<td class="no-border-top title-content">
											<b>Event Date</b>
										</td>
										<td class="no-border-top title-content">
											<b>Time</b>
										</td>
										<td class="no-border-top title-content">
											<b>Duration</b>
										</td>
									</tr>
								</table>
							</div>

							<div class="table-responsive">
								<table class="detail-invoice financial mb-4">
									<tr>
										<td colspan="5" class="head-column">
											Financial
										</td>
									</tr>
									<tr>
										<td class="th">
											Quantity
										</td>
										<td style="width: 40%;" class="th">
											Description
										</td>
										<td class="th">
											Unit Price
										</td>
										<td class="th">
											Tax
										</td>
										<td class="th">
											Extended Price
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Streaming services</b>
										</td>
									</tr>
									<tr>
										<td>
											2.00
										</td>
										<td>
											<p><b>Webcast Streaming Package - Full Day</b></p>
											<p>Up to 8 hours of broadcasting</p>
											<p>All webcast package include full production suooprt.</p>
										</td>
										<td>
											$2.500.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$5,000.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Production Labour</b>
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>Textnical Director(Per Day)</b></p>
										</td>
										<td>
											$1,200.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$1,200.00
										</td>
									</tr>
									<tr>
										<td>
											8.00
										</td>
										<td>
											<p><b>Production Assistant (Labour) - regular hours</b></p>
										</td>
										<td>
											$95.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$760.00
										</td>
									</tr>
									<tr>
										<td>
											8.00
										</td>
										<td>
											<p><b>Production Assistant (Labour) - regular hours</b></p>
										</td>
										<td>
											$95.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$760.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Technical support Labour</b>
										</td>
									</tr>
									<tr>
										<td>
											5.00
										</td>
										<td>
											<p><b>Technical support on the day of the event</b></p>
											<p>Event Package Include</p>
											<ul>
												<li>3 dedicated staff to handle tech support</li>
												<li>Total duration of 4 hour + 1 hour to setup</li>
											</ul>
										</td>
										<td>
											$375.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$1,875.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Pre Production Labour &amp; Project Management</b>
										</td>
									</tr>
									<tr>
										<td>
											26.00
										</td>
										<td>
											<p><b>Pre Production Labour pr hour</b></p>
										</td>
										<td>
											$125.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$3,250.00
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>Graphics Package</b></p>
										</td>
										<td>
											$1,500.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$1,500.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Pre recording -  Half days</b>
										</td>
									</tr>
									<tr>
										<td>
											6.00
										</td>
										<td>
											<p><b>Virtual Recording Service</b></p>
											<p>Event Package Include</p>
											<ul>
												<li>Up to 4 hours of Recording per day</li>
												<li>Set up, text &amp; live</li>
												<li>Bridging Services</li>
												<li>Dedicated Produser</li>
												<li>Mp4 Recording</li>
											</ul>
										</td>
										<td>
											$1.000.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$6,000.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Post Production Edit</b>
										</td>
									</tr>
									<tr>
										<td>
											3.00
										</td>
										<td>
											<p><b>Producer Edit</b></p>
										</td>
										<td>
											$125.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$375.00
										</td>
									</tr>
									<tr>
										<td colspan="3" class="text-end">
											<p><b>SubTotal:</b></p>
										</td>
										<td colspan="2" class="text-end">
											<p><b>$20,720.00</b></p>
										</td>
									</tr>
									<tr>
										<td colspan="3" class="text-end">
											<p>Total HST13 (HST 13%):</p>
										</td>
										<td colspan="2" class="text-end">
											<p>$2,693.00</p>
										</td>
									</tr>
									<tr>
										<td colspan="3" class="text-end sub-head-column">
											<p><b>Total Amount:</b></p>
										</td>
										<td colspan="2" class="text-end sub-head-column">
											<p><b>$23,413.60 CDN</b></p>
										</td>
									</tr>
								</table>
							</div>

							<div class="table-responsive">
								<table class="detail-invoice financial mb-4">
									<tr>
										<td class="head-column">
											Term and Conditions
										</td>
									</tr>
									<tr>
										<td>
											<div class="text-center mb-3 title-content">
												<p><b>Digital Event Terms &amp; Conditions</b></p>
												<p><b>Version: 1.16 (October 2021)</b></p>
											</div>
											<p class="mb-3">At Resolve Collaboration Services Corp. (Resolve Collabortion), we are all about delivering a frictionless flawless customer experience. In order to achieve this, we ask that you agree with our SLAs described below.</p>
											<p class="mb-3">This Agreement is between you as the Customer and Resolve Collaboration in relation to all services offered by Resolve Collaboration. </p>
											<p><b>Service Description</b></p>
											<p class="mb-3">This Agreement governs the use of services offered by Resolve Collaboration - audio, web and video conferencing (collaboration services) along with all Managed Services representing Webcasts, Webinars, Video Production, Managed Teleconferencing and Managed Video Conferencing.</p>
											<p class="mb-3">Resolve Collaboration may update and upgrade the features available within these services without notice. The Customer agrees that Resolve’s ability to offer services is conditional upon the Customer providing all the required information within the timeframes stated. Where Managed Services are offered, the Customer acknowledges that local access such as internet may limit our ability to fulfil these services.</p>
											<p><b>Charges & Payments</b></p>
											<p class="mb-3">Resolve Collaboration will invoice the Customer electronically within five to ten business days following service delivery for all charges and related costs incurred delivering all services. The customer agrees to make payment for these services, in accordance with the terms and conditions, by the due date stated on the invoice. Customer must notify Resolve Collaboration of any disputed charges within 30 days of the invoice issued. If payment is not received by the due date specified on the invoice, Resolve Collaboration reserves the right to charge interest or penalties on any outstanding balances and/or suspend all or part of the services offered, including the suspension of any branded services until all charges have been settled.</p>
											<p><b>Privacy & Data Use</b></p>
											<p class="mb-3">Resolve Collaboration understands the importance of protecting your information and places a high value on your right to privacy. All employees sign Confidentiality and Non-Disclosure Agreements and must abide by them as terms of their continued employment.</p>
											<p class="mb-3">Further, Resolve Collaboration will ensure that all third parties engaged by Resolve Collaboration are subject to the same, or similar, confidentiality and non-disclosure obligations. Unless obligated by law, Resolve Collaboration will not disclose your information to anyone outside of our organization without your permission. Resolve Collaboration collects and uses that information only for the purposes for which it was provided. In the case of Managed Services, Customers providing Resolve Collaboration with registration data confirm that individuals as listed have opted to receive e-marketing on your company’s behalf, Resolve Collaboration accepts no liability should this not be the case. Furthermore, Customer will indemnify and hold Resolve Collaboration harmless in the case that Customer has provided Resolve Collaboration with any data that in any way breaches any laws regarding protection of personal information. Any information collected by Resolve Collaboration will remain the sole intellectual property of the client and will not be used for any marketing purposes for Resolve Collaboration. Copyright in all materials created pursuant to this Agreement shall, upon full payment of the amount specified in the Job Details section of this Agreement, vest unconditionally in the Customer.</p>
											<p class="mb-3">Our terms and conditions comply with the following laws: Canadian Anti-Spam Legislation (CASL) and General Data Protection Regulation (GDPR) (EU) 2016/679 </p>
											<p><b>Limited Warranty</b></p>
											<p class="mb-3">Resolve Collaboration assumes no responsibility for circumstances beyond its control such as power, telephone or internet failures or malfunction of systems provided by others. IN ALL CASES, Resolve Collaboration's liability for any breach or failure is limited to the value of the services offered under this quotation. In no event shall Resolve Collaboration be liable for special, indirect or consequential damages.</p>
											<p><b>Managed Services</b></p>
											<ul>
												<li class="mb-3">Final copies of presentation material must be provided at least 24 hours prior to the event in PowerPoint format. Prezi and Keynote are NOT supported, PowerPoint must not contain video or audio files, slide timings, or animation. Any video or audio must be provided as separate files. If the presentation is not supplied within the given time-frame, the Provider is unable to guarantee that all slides will be rendered correctly and ready for the live event. </li>
												<li class="mb-3">Final copies of videos to be played during the event must be provided four (4) business days before an event. If more than five (5) videos are provided, there is a charge of $50 per additional video. Video must be provided in WMV, MP4 or AVI format only. The Provider does not accept DVDs and accept no responsibility for copyright infringement. </li>
												<li class="mb-3">The Provider accepts no liability for any spelling or grammar errors where the Customer has provided content. </li>
												<li class="mb-3">Where content is not provided within the stated time-frames, a last-minute surcharge of $250 may apply. </li>
												<li class="mb-3">The reports and resources listed below are available within your Account Management Portal the following business day from your live event. In the event this information is not available, The Provider’s staff will send these via email to the event organizer. 
													<ul style="list-style-type:circle;">
														<li>Registration and attendance report.</li>
														<li>Transcript of all chat.</li>
														<li>Poll report</li>
														<li>In Room Survey report</li>
														<li>Post event survey report (if arranged by the Provider)</li>
														<li>Questions submitted</li>
													</ul>
												</li>
												<li class="mb-3">Any delivery that is outside of standard business hours (Monday-Friday 8am-8pm EST excluding public holiday) will be subject to an out of hours’ surcharge. </li>
												<li class="mb-3">As standard, all webcast content is hosted for 3 months included in the Managed Service. Should additional hosting be required, this must be requested a minimum of 10 days prior to expiry and will incur an additional charge. All expired content will be permanently deleted unless renewed. All raw content is deleted after 30 days’ post-expiration. </li>
												<li class="mb-3">Prices quoted are an estimate only as there can be external factors that may cause the quoted price to change. There will be no price increase without the client's prior approval. Factors that may create a price increase include additional lighting, additional testing, additional audio equipment, venue charges from the Customers chosen venue, usage of teleconferencing as an audio backup for participants with device-related sound issues, late delivery and/or alterations to any presentation materials, post-production video editing beyond traditional trimming of start and end, and captioning or transcription services. </li>
											</ul>
											<p><b>Additional Charges for Late Deliverables:</b></p>
											<p class="mb-3">Once we receive the required assets (graphics, slides, files) for your event, we upload, render and test well in advance of your event. Unfortunately, last-minute changes and updates mean that we must allocate additional resources to do this. The additional charges are as follows:</p>
											<ul>
												<li>Slides (less than 24 hours prior) $250</li>
												<li>Registrations (less than 24 hours prior) $250</li>
												<li>Resource documents (less than 24 hours prior) $250</li>
												<li>Video Files (less than 4 business days prior) $250</li>
												<li>Video/Slide Editing - Archive $750</li>
												<li>Slide Rebuild - 60 minutes $300</li>
												<li>Slide Rebuild - Half Day (Up to 4 hours) $600</li>
												<li>Slide Rebuild - Full Day (Up to 8 hours) $1000</li>
												<li>Additional Presenters Site Certification and Testing $250</li>
											</ul>
											<p><b>Cancellation & Postponement Policy</b></p>
											<p class="mb-3">Customer agrees that cancellation of services with written notice less than five (5) business days prior to the Managed Service incur a charge equal to 100% of the approved quote. Cancellation with written notice more than five (5) business days but less than ten (10) incur a charge equal to 50% of the approved total quote. Where cancellation with written notice more than ten (10) business days noticed has been provided, no charge is applied other than any fixed cost from third party providers. Postponements, in writing, with less than 72 hours’ notice will incur a charge of 50% of the approved quote. </p>
										</td>
									</tr>
								</table>
							</div>

							<div class="table-responsive">
								<table class="detail-invoice financial mb-4 signature hide">
									<tr>
										<td colspan="2" class="head-column">
											Signature
										</td>
									</tr>
									<tr>
										<td>
											<p><b>For:</b></p>
										</td>
										<td>
											<p>Resolve Collaboration Services</p>
										</td>
									</tr>
									<tr>
										<td>
											<p><b>Signature:</b></p>
										</td>
										<td>
											<p>I have the signing authority to bind the corporation</p>
										</td>
									</tr>
									<tr>
										<td>
											<p><b>Name:</b></p>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<td>
											<p><b>Title:</b></p>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<td>
											<p><b>Date:</b></p>
										</td>
										<td>
											<p>January 11th 2022</p>
										</td>
									</tr>
									<tr>
										<td>
											<p><b>Quote #:</b></p>
										</td>
										<td>
											<p>KSA-00004816 &nbsp;&nbsp;&nbsp;&nbsp; 1/11/2022 &nbsp;&nbsp; 12:52</p> 
										</td>
									</tr>
								</table>
							</div>

							<div class="table-responsive">
								<table class="detail-invoice financial mb-4 not-print">
									<tr>
										<td class="head-column">
											Ready to Accept?
										</td>
									</tr>
									<tr>
										<td>
											<p class="mb-2 title-content"><b>Order Confirmation</b></p>
											<p class="mb-3"><b>We reserve the right to cancel orders arising from errors, inaccuracies, or omissions.</b></p>

											<div class="mb-3 row">
												<label for="paymentTerms" class="col-sm-2 col-form-label"><b>Payment Terms</b></label>
												<div class="col-sm-10">
													<p class="mt-2">Net 30</p>
												</div>
											</div>
											<div class="mb-3 row">
												<label for="paymentTerms" class="col-sm-2 col-form-label"><b>IP Address</b></label>
												<div class="col-sm-10">
													<p class="mt-2">36.72.214.152</p>
												</div>
											</div>
											<div class="mb-3 row">
												<label for="poNumber" class="col-sm-2 col-form-label"><b>PO Number</b></label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="poNumber" placeholder="Optional : PO number for your preference">
												</div>
											</div>
											<div class="mb-3 row">
												<label for="Comments" class="col-sm-2 col-form-label"><b>Comments</b></label>
												<div class="col-sm-10">
													<textarea class="form-control" id="Comments" rows="3"></textarea>
												</div>
											</div>
											<div class="mb-3 row">
												<label for="Email" class="col-sm-2 col-form-label"><b>Email Address</b></label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="Email" value="Laura@cmgmarketing.com">
												</div>
											</div>
											<div class="mb-3 row">
												<label for="Phone" class="col-sm-2 col-form-label"><b>Phone</b></label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="Phone">
												</div>
											</div>
											<div class="mb-3 row">
												<label for="Signature" class="col-sm-2 col-form-label"><b>Signature</b></label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="Signature">
												</div>
											</div>
											<div class="form-check mb-3">
												<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
												<label class="form-check-label" for="flexCheckChecked">
													I agree to the Statement of Work, Financials, and Terms and Conditions of this document with the electronic signature below.
												</label>
											</div>
											<div class="mb-3">
												<button type="button" class="btn btn-primary">Click to Accept</button>
											</div>
										</td>
									</tr>
								</table>
							</div>

							<div class="table-responsive">
								<table class="detail-invoice financial mb-4  not-print">
									<tr>
										<td class="head-column">
											Have Question?
										</td>
									</tr>
									<tr>
										<td>
											<p class="mb-3 title-content"><b>Not Ready To Accept? Have Question?</b></p>
											
											<div class="mb-3">
												<div class="col-sm-12">
													<textarea class="form-control" id="Comments" rows="3" placeholder="Your Question"></textarea>
												</div>
											</div>
											<div class="mb-3">
												<button type="button" class="btn btn-primary">Submit</button>
											</div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>

					<div class="contact-info">
						<p><b>Resolve Collaboration Services</b></p>
						<p>121 Richmond Street W., Suite 402 Toronto,Ontario M5H 2K1</p>
						<a href="#">info@resolvecollaboration.com</a>
						<p>+1 888 777 7965</p>
						<button type="button" class="btn btn-primary not-print" onclick="window.print()">
							<span class="material-icons-outlined">
								print
							</span>
							Print
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	{% block script %}
	{% endblock %}