{% set page_id = "Index" %}
{% extends "layout.html" %}
	{% block content %}
	<!--https://pxltheme.com/html/bolby/demo/index-3.html-->
	<div class="invoice" id="invoice">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="invoice-wrap">
						<div class="content-invoice">
							<div class="table-responsive">
								<table class="heading-invoice mb-4">
									<tr>
										<td>
											<img src="./dist/images/logo.png" alt="logo" />
										</td>
										<td>
											<p class="mb-2"><b>Your Account Manager</b></p>
											<p class="mb-0"><b>Karan Sanghvi</b></p>
											<p class="text-primary mb-0">ksanghvi@resolvecollaboration.com</p>
											<p class="text-primary mb-0">(416) 848-4815</p>
										</td>
									</tr>
								</table>
							</div>

							<div class="table-responsive">
								<table class="detail-invoice mb-4">
									<tr>
										<td colspan="2" class="head-column">
											Quote: KSA-00004996 Parliamentary Officers’ Study Program (POSP)
										</td>
									</tr>
									<tr>
										<td class="title-content">
											<b>Prepared For:</b>
										</td>
										<td></td>
									</tr>
									<tr>
										<td>
											<p class="mb-0">International and Interparliamentary Affairs</p>
											<p class="mb-0">Directorate</p>
											<p class="mb-0">Jeremy LeBlanc</p>
											<p class="mb-0">House of Commons </p>
											<p class="mb-0">Ottawa, Ontario</p>
											<p class="mb-0">Canada, K1A 0A6</p>
											<p class="mb-0">jeremy.leblanc@parl.gc.ca</p>
											<p class="mb-0">x</p>
										</td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2" class="footer-column">
											<p class="mb-0 text-danger fw-semi-bold">Quote valid until Saturday January 8th 2022</p>
										</td>
									</tr>
								</table>
							</div>

							<div class="table-responsive"></div>
								<table class="detail-invoice statement mb-4">
									<tr>
										<td colspan="3" class="head-column">
											Statement of Work
										</td>
									</tr>
									<tr>
										<td colspan="3" class="no-border-top no-border-bottom">
											<p class="mb-0 text-danger fw-semi-bold">Statement of Work Accepted:</p>
										</td>
									</tr>
									<tr>
										<td colspan="3" class="text-center no-border-top no-border-bottom">
											<h3 class="mb-0 fw-bold fs-1">POSP 2022</h3>
										</td>
									</tr>
									<tr>
										<td colspan="3" class="no-border-top no-border-bottom">
											<p><b>Objective</b></p>
											<p class="mb-3">The Parliamentary Officers’ Study Program provides senior parliamentary staff from foreign legislatures and other Canadian jurisdictions an opportunity to learn about the functioning of the Canadian Parliament and, in turn, to reflect on their own practices. The program is offered over the course of five working days and is comprised of presentations, question and answer periods, site visits, as well as opportunities for networking.</p>
											<p><b>Deliverables</b></p>
											<ul>
												<li>Resolve will setup the pre-production meeting</li>
												<li>Resolve will provide virtual event platform</li>
												<li>Resolve will provide virtual green-room</li>
												<li>Resolve will system test and provide 30 minute training to all associated presenters</li>
												<li>Resolve producers will follow an agenda/script and manage all the speakers and presentations accordingly</li>
												<li>Resolve will build the landing pages and keep it available for participants to view a week in advance</li>
												<li>Resolve will provide tech support in English for the English part of the event</li>
												<li>Resolve will provide tech support in French for the French part of the event</li>
											</ul>
											<p><b>Customer Obligations</b></p>
											<ul>
												<li>Customer will provide registration</li>
												<li>Customer will provide an agenda/script</li>
												<li>Customer will provide us a contact list of all presenters</li>
											</ul>
										</td>
									</tr>
									<tr>
										<td class="no-border-top title-content">
											<b>Event Date</b>
										</td>
										<td class="no-border-top title-content">
											<b>Time</b>
										</td>
										<td  class="no-border-top title-content">
											<b>Duration</b>
										</td>
									</tr>
								</table>
							</div>

							<div class="table-responsive">
								<table class="detail-invoice financial mb-4">
									<tr>
										<td colspan="5" class="head-column">
											Financial
										</td>
									</tr>
									<tr>
										<td class="th">
											Quantity
										</td class="th">
										<td style="width: 40%;">
											Description
										</td>
										<td class="th">
											Unit Price
										</td>
										<td class="th">
											Tax
										</td>
										<td class="th">
											Extended Price
										</td>
									</tr>
									<tr>
										<td colspan="5" class="title-content">
											<p class="mb-0 fw-bold">POSP in English</p>
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Day 1.January 24th 2022</b>
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>Virtual Event - Package B</b></p>
											<p class="mb-2">Event Package Includes; </p>
											<ul>
												<li>3x Presenters</li>
												<li>1000 Participants</li>
												<li>4 hour event duration</li>
												<li>1x Moderator Orientation Session</li>
												<li>1x Rehearsal Session</li>
												<li>Standard Landing and Registration Page</li>
												<li>Viewer Support via chat</li>
												<li>90 Day Online Playback Archive</li>
											</ul>
										</td>
										<td>
											$3.950.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$3.950.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Day 2.January 25th 2022</b>
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>Virtual Event - Package B</b></p>
											<p class="mb-2">Event Package Includes; </p>
											<ul>
												<li>3x Presenters</li>
												<li>1000 Participants</li>
												<li>4 hour event duration</li>
												<li>1x Moderator Orientation Session</li>
												<li>1x Rehearsal Session</li>
												<li>Standard Landing and Registration Page</li>
												<li>Viewer Support via chat</li>
												<li>90 Day Online Playback Archive</li>
											</ul>
										</td>
										<td>
											$3.950.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$3.950.00
										</td>
									</tr>
									
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Day 3.January 26th 2022</b>
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>Virtual Event - Package B</b></p>
											<p class="mb-2">Event Package Includes; </p>
											<ul>
												<li>3x Presenters</li>
												<li>1000 Participants</li>
												<li>4 hour event duration</li>
												<li>1x Moderator Orientation Session</li>
												<li>1x Rehearsal Session</li>
												<li>Standard Landing and Registration Page</li>
												<li>Viewer Support via chat</li>
												<li>90 Day Online Playback Archive</li>
											</ul>
										</td>
										<td>
											$3.950.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$3.950.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Day 4.January 26th 2022</b>
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>Virtual Event - Package B</b></p>
											<p class="mb-2">Event Package Includes; </p>
											<ul>
												<li>3x Presenters</li>
												<li>1000 Participants</li>
												<li>4 hour event duration</li>
												<li>1x Moderator Orientation Session</li>
												<li>1x Rehearsal Session</li>
												<li>Standard Landing and Registration Page</li>
												<li>Viewer Support via chat</li>
												<li>90 Day Online Playback Archive</li>
											</ul>
										</td>
										<td>
											$3.950.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$3.950.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Pre event presentations in English</b>
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>Open Archive</b></p>
											<p>Attendes can view presentations 1 week ahead of time on the same link as the event</p>
										</td>
										<td>
											$1,500.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$1,500.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Additional Presenters (Optional)</b>
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>Virtual Event - Additional Presenter</b></p>
										</td>
										<td>
											$250.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$3,950.00
										</td>
									</tr>
									<tr>
										<td colspan="5">
											<h3 class="mb-0 fw-bold fs-1">POSP in French</h3>
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Day 1.February 31st 2022</b>
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>Virtual Event - Package B</b></p>
											<p class="mb-2">Event Package Includes; </p>
											<ul>
												<li>3x Presenters</li>
												<li>1000 Participants</li>
												<li>4 hour event duration</li>
												<li>1x Moderator Orientation Session</li>
												<li>1x Rehearsal Session</li>
												<li>Standard Landing and Registration Page</li>
												<li>Viewer Support via chat</li>
												<li>90 Day Online Playback Archive</li>
											</ul>
										</td>
										<td>
											$3.950.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$3.950.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Day 2.February 31st 2022</b>
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>Virtual Event - Package B</b></p>
											<p class="mb-2">Event Package Includes; </p>
											<ul>
												<li>3x Presenters</li>
												<li>1000 Participants</li>
												<li>4 hour event duration</li>
												<li>1x Moderator Orientation Session</li>
												<li>1x Rehearsal Session</li>
												<li>Standard Landing and Registration Page</li>
												<li>Viewer Support via chat</li>
												<li>90 Day Online Playback Archive</li>
											</ul>
										</td>
										<td>
											$3.950.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$3.950.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Day 3.February 31st 2022</b>
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>Virtual Event - Package B</b></p>
											<p class="mb-2">Event Package Includes; </p>
											<ul>
												<li>3x Presenters</li>
												<li>1000 Participants</li>
												<li>4 hour event duration</li>
												<li>1x Moderator Orientation Session</li>
												<li>1x Rehearsal Session</li>
												<li>Standard Landing and Registration Page</li>
												<li>Viewer Support via chat</li>
												<li>90 Day Online Playback Archive</li>
											</ul>
										</td>
										<td>
											$3.950.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$3.950.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Day 4.February 31st 2022</b>
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>Virtual Event - Package B</b></p>
											<p class="mb-2">Event Package Includes; </p>
											<ul>
												<li>3x Presenters</li>
												<li>1000 Participants</li>
												<li>4 hour event duration</li>
												<li>1x Moderator Orientation Session</li>
												<li>1x Rehearsal Session</li>
												<li>Standard Landing and Registration Page</li>
												<li>Viewer Support via chat</li>
												<li>90 Day Online Playback Archive</li>
											</ul>
										</td>
										<td>
											$3.950.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$3.950.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Additional Presenters (Optional)</b>
										</td>
									</tr>
									<tr>
										<td>
											6.00
										</td>
										<td>
											<p><b>Virtual Event - Additional Presenter</b></p>
										</td>
										<td>
											$250.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$1,500.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Pre event presentations in French</b>
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>Open Archive</b></p>
											<p>Attendes can view presentations 1 week ahead of time on the same link as the event</p>
										</td>
										<td>
											$1,500.00
										</td>
										<td>
											HST13
										</td>
										<td>
											$1,500.00
										</td>
									</tr>
									<tr>
										<td colspan="5" class="sub-head-column">
											<b>Discount and promotions</b>
										</td>
									</tr>
									<tr>
										<td>
											1.00
										</td>
										<td>
											<p><b>20% Discount</b></p>
											<p>Discount is based on two events with the mentioned line items only.</p>
										</td>
										<td>
											-$6,920.00
										</td>
										<td>
											HST13
										</td>
										<td>
											-$6,920.00
										</td>
									</tr>
									<tr>
										<td colspan="3" class="text-end">
											<p><b>SubTotal:</b></p>
										</td>
										<td colspan="2" class="text-end">
											<p><b>$30,680.00</b></p>
										</td>
									</tr>
									<tr>
										<td colspan="3" class="text-end">
											<p>Total HST13 (HST 13%):</p>
										</td>
										<td colspan="2" class="text-end">
											<p>$3,988.40</p>
										</td>
									</tr>
									<tr>
										<td colspan="3" class="text-end sub-head-column">
											<p><b>Total Amount:</b></p>
										</td>
										<td colspan="2" class="text-end sub-head-column">
											<p><b>$34,668.40 CDN</b></p>
										</td>
									</tr>
								</table>
							</div>

							<div class="table-responsive">
								<table class="detail-invoice financial mb-4">
									<tr>
										<td class="head-column">
											Term and Conditions
										</td>
									</tr>
									<tr>
										<td>
											<div class="text-center mb-3 title-content">
												<p><b>Digital Event Terms &amp; Conditions</b></p>
												<p><b>Version: 1.16 (October 2021)</b></p>
											</div>
											<p class="mb-3">At Resolve Collaboration Services Corp. (Resolve Collabortion), we are all about delivering a frictionless flawless customer experience. In order to achieve this, we ask that you agree with our SLAs described below.</p>
											<p class="mb-3">This Agreement is between you as the Customer and Resolve Collaboration in relation to all services offered by Resolve Collaboration. </p>
											<p><b>Service Description</b></p>
											<p class="mb-3">This Agreement governs the use of services offered by Resolve Collaboration - audio, web and video conferencing (collaboration services) along with all Managed Services representing Webcasts, Webinars, Video Production, Managed Teleconferencing and Managed Video Conferencing.</p>
											<p class="mb-3">Resolve Collaboration may update and upgrade the features available within these services without notice. The Customer agrees that Resolve’s ability to offer services is conditional upon the Customer providing all the required information within the timeframes stated. Where Managed Services are offered, the Customer acknowledges that local access such as internet may limit our ability to fulfil these services.</p>
											<p><b>Charges & Payments</b></p>
											<p class="mb-3">Resolve Collaboration will invoice the Customer electronically within five to ten business days following service delivery for all charges and related costs incurred delivering all services. The customer agrees to make payment for these services, in accordance with the terms and conditions, by the due date stated on the invoice. Customer must notify Resolve Collaboration of any disputed charges within 30 days of the invoice issued. If payment is not received by the due date specified on the invoice, Resolve Collaboration reserves the right to charge interest or penalties on any outstanding balances and/or suspend all or part of the services offered, including the suspension of any branded services until all charges have been settled.</p>
											<p><b>Privacy & Data Use</b></p>
											<p class="mb-3">Resolve Collaboration understands the importance of protecting your information and places a high value on your right to privacy. All employees sign Confidentiality and Non-Disclosure Agreements and must abide by them as terms of their continued employment.</p>
											<p class="mb-3">Further, Resolve Collaboration will ensure that all third parties engaged by Resolve Collaboration are subject to the same, or similar, confidentiality and non-disclosure obligations. Unless obligated by law, Resolve Collaboration will not disclose your information to anyone outside of our organization without your permission. Resolve Collaboration collects and uses that information only for the purposes for which it was provided. In the case of Managed Services, Customers providing Resolve Collaboration with registration data confirm that individuals as listed have opted to receive e-marketing on your company’s behalf, Resolve Collaboration accepts no liability should this not be the case. Furthermore, Customer will indemnify and hold Resolve Collaboration harmless in the case that Customer has provided Resolve Collaboration with any data that in any way breaches any laws regarding protection of personal information. Any information collected by Resolve Collaboration will remain the sole intellectual property of the client and will not be used for any marketing purposes for Resolve Collaboration. Copyright in all materials created pursuant to this Agreement shall, upon full payment of the amount specified in the Job Details section of this Agreement, vest unconditionally in the Customer.</p>
											<p class="mb-3">Our terms and conditions comply with the following laws: Canadian Anti-Spam Legislation (CASL) and General Data Protection Regulation (GDPR) (EU) 2016/679 </p>
											<p><b>Limited Warranty</b></p>
											<p class="mb-3">Resolve Collaboration assumes no responsibility for circumstances beyond its control such as power, telephone or internet failures or malfunction of systems provided by others. IN ALL CASES, Resolve Collaboration's liability for any breach or failure is limited to the value of the services offered under this quotation. In no event shall Resolve Collaboration be liable for special, indirect or consequential damages.</p>
											<p><b>Managed Services</b></p>
											<ul>
												<li  class="mb-3">Final copies of presentation material must be provided at least 24 hours prior to the event in PowerPoint format. Prezi and Keynote are NOT supported, PowerPoint must not contain video or audio files, slide timings, or animation. Any video or audio must be provided as separate files. If the presentation is not supplied within the given time-frame, the Provider is unable to guarantee that all slides will be rendered correctly and ready for the live event. </li>
												<li class="mb-3">Final copies of videos to be played during the event must be provided four (4) business days before an event. If more than five (5) videos are provided, there is a charge of $50 per additional video. Video must be provided in WMV, MP4 or AVI format only. The Provider does not accept DVDs and accept no responsibility for copyright infringement. </li>
												<li class="mb-3">The Provider accepts no liability for any spelling or grammar errors where the Customer has provided content. </li>
												<li class="mb-3">Where content is not provided within the stated time-frames, a last-minute surcharge of $250 may apply. </li>
												<li class="mb-3">The reports and resources listed below are available within your Account Management Portal the following business day from your live event. In the event this information is not available, The Provider’s staff will send these via email to the event organizer. 
													<ul style="list-style-type:circle;">
														<li>Registration and attendance report.</li>
														<li>Transcript of all chat.</li>
														<li>Poll report</li>
														<li>In Room Survey report</li>
														<li>Post event survey report (if arranged by the Provider)</li>
														<li>Questions submitted</li>
													</ul>
												</li>
												<li class="mb-3">Any delivery that is outside of standard business hours (Monday-Friday 8am-8pm EST excluding public holiday) will be subject to an out of hours’ surcharge. </li>
												<li class="mb-3">As standard, all webcast content is hosted for 3 months included in the Managed Service. Should additional hosting be required, this must be requested a minimum of 10 days prior to expiry and will incur an additional charge. All expired content will be permanently deleted unless renewed. All raw content is deleted after 30 days’ post-expiration. </li>
												<li class="mb-3">Prices quoted are an estimate only as there can be external factors that may cause the quoted price to change. There will be no price increase without the client's prior approval. Factors that may create a price increase include additional lighting, additional testing, additional audio equipment, venue charges from the Customers chosen venue, usage of teleconferencing as an audio backup for participants with device-related sound issues, late delivery and/or alterations to any presentation materials, post-production video editing beyond traditional trimming of start and end, and captioning or transcription services. </li>
											</ul>
											<p><b>Additional Charges for Late Deliverables:</b></p>
											<p class="mb-3">Once we receive the required assets (graphics, slides, files) for your event, we upload, render and test well in advance of your event. Unfortunately, last-minute changes and updates mean that we must allocate additional resources to do this. The additional charges are as follows:</p>
											<ul>
												<li>Slides (less than 24 hours prior) $250</li>
												<li>Registrations (less than 24 hours prior) $250</li>
												<li>Resource documents (less than 24 hours prior) $250</li>
												<li>Video Files (less than 4 business days prior) $250</li>
												<li>Video/Slide Editing - Archive $750</li>
												<li>Slide Rebuild - 60 minutes $300</li>
												<li>Slide Rebuild - Half Day (Up to 4 hours) $600</li>
												<li>Slide Rebuild - Full Day (Up to 8 hours) $1000</li>
												<li>Additional Presenters Site Certification and Testing $250</li>
											</ul>
											<p><b>Cancellation & Postponement Policy</b></p>
											<p class="mb-3">Customer agrees that cancellation of services with written notice less than five (5) business days prior to the Managed Service incur a charge equal to 100% of the approved quote. Cancellation with written notice more than five (5) business days but less than ten (10) incur a charge equal to 50% of the approved total quote. Where cancellation with written notice more than ten (10) business days noticed has been provided, no charge is applied other than any fixed cost from third party providers. Postponements, in writing, with less than 72 hours’ notice will incur a charge of 50% of the approved quote. </p>
										</td>
									</tr>
								</table>
							</div>
							<div class="table-responsive">
								<table class="detail-invoice financial mb-4 signature">
									<tr>
										<td colspan="2" class="head-column">
											Signature
										</td>
									</tr>
									<tr>
										<td>
											<p><b>For:</b></p>
										</td>
										<td>
											<p>Resolve Collaboration Services</p>
										</td>
									</tr>
									<tr>
										<td>
											<p><b>Signature:</b></p>
										</td>
										<td>
											<p>I have the signing authority to bind the corporation</p>
										</td>
									</tr>
									<tr>
										<td>
											<p><b>Name:</b></p>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<td>
											<p><b>Title:</b></p>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<td>
											<p><b>Date:</b></p>
										</td>
										<td>
											<p>January 11th 2022</p>
										</td>
									</tr>
									<tr>
										<td>
											<p><b>Quote #:</b></p>
										</td>
										<td>
											<p>KSA-00004816 &nbsp;&nbsp;&nbsp;&nbsp; 1/11/2022 &nbsp;&nbsp; 12:52</p> 
										</td>
									</tr>
								</table>
							</div>
							
						</div>
					</div>
					<div class="contact-info">
						<p><b>Resolve Collaboration Services</b></p>
						<p>121 Richmond Street W., Suite 402 Toronto,Ontario M5H 2K1</p>
						<a href="#">info@resolvecollaboration.com</a>
						<p>+1 888 777 7965</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	{% block script %}
	{% endblock %}