.invoice { 
  padding: 20px 0;
  min-height: 100%;
  background-color: #F6F6F6;
  .invoice-wrap {
    background-color: #ffffff;
    padding: 20px 0;
    .content-invoice {
      width: 100%;
      max-width: 910px;
      margin: 0 auto;
      table {
        min-width: 600px;
      }
      .heading-invoice {
        tr {
          td {
            vertical-align: center;
            font-size: 16px;
            &:last-child {
              text-align: right;
            }
            p {
              margin-bottom: 0;
            }
          }
        }
      }
      .detail-invoice {
        .th {
          font-weight: 600;
        }
        .head-column {
          background-color: $primary;
          color: $white;
          padding: 8px 10px;
          font-size: 16px;
          font-weight: 500;
        }
        .sub-head-column {
          background-color: #F4F8FF;
          font-size: 16px !important;
          tr {
            td {
              font-size: 16px !important;
            }
          }
        }
        tr {
          td {
            border: 1px solid #DEE2E6;
            width: 50%;
            padding: 8px 10px;
            vertical-align: top;
            font-size: 14px;
            b {
              font-weight: 600;
            }
            p {
              margin-bottom: 0;
            }
            &.title-content {
              font-size: 16px;
              p {
                font-size: 16px !important;
              }
            }
            .title-content {
              font-size: 16px;
              p {
                font-size: 16px !important;
              }
            }
          }
        }
        &.statement {
          tr {
            td {
              width: inherit;
              border-left: none;
              border-right: none;
              &:first-child {
                border-left: 1px solid #DEE2E6;
              }
              &:last-child {
                border-right: 1px solid #DEE2E6;
              }
            }
          }
        }
        &.financial {
          tr {
            td {
              width: inherit;
            }
          }
        }
        &.signature {
          width: 100%;
          &.hide {
            display: none;
          }
          tr {
            td {
              font-size: 16px;
            }
            &:nth-child(3) {
              td {
                height: 70px;
                &:nth-child(2) {
                  vertical-align: bottom;
                  p {
                    font-size: 11px;
                  }
                }
              }
            }
            &:nth-child(4) {
              td {
                height: 70px;
              }
            }
            &:nth-child(5) {
              td {
                height: 70px;
              }
            }
          }
        }
      }
    }
  }
}
.contact-info {
  text-align: center;
  padding: 70px 0;
  p {
    margin-bottom: 6px;
    font-size: 14px;
  }
  a {
    display: block;
    margin-bottom: 6px;
    text-decoration: none;
  }
  .btn {
    margin-top: 20px;
    > span {
      vertical-align: middle;
      font-size: 18px;
    }
  }
}

@media print {
  body{
    -webkit-print-color-adjust: exact; /*chrome & webkit browsers*/
    color-adjust: exact; /*firefox & IE */
  } 
  .signature {
    width: 100% !important;
    &.hide {
      display: table !important;
    }
    tr {
      td {
        &:first-child {
          width: inherit !important;
        }
      }
    }
  }
  .invoice {
    background-color: #ffffff;
  }
  .not-print, .alert {
    display: none;
  }
  .detail-invoice {
    .head-column {
      background-color: $primary;
    }
    .sub-head-column {
      background-color: #F4F8FF;
      font-size: 16px;
    }
    tr {
      td {
        border: 1px solid #DEE2E6;
        font-size: 16px;
        .title-content {
          font-size: 16px;
          p {
            font-size: 16px !important;
          }
        }
      }
    }
    &.statement {
      tr {
        td {
          &:first-child {
            border-left: 1px solid #DEE2E6;
          }
          &:last-child {
            border-right: 1px solid #DEE2E6;
          }
        }
      }
    }
  }
  
}