html {
	height: 100%;
}
body {
	height: 100%;
	color: $black;
	font-family: $font-poppins-serif;
	background-color: $bg-body;
	-webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
	-webkit-print-color-adjust: exact !important;
	color-adjust: exact !important;
}
.content-area {
	height: 100%;
}

table {
	width: 100%;
}
.no-border-top {
	border-top: none !important;
}
.no-border-bottom {
	border-bottom: none !important;
}
.container {
	max-width: 1194px;
}