@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap');
$font-poppins-serif: 'Poppins', sans-serif;
$font-size-base: 16;
// navbar
$navbar-padding-y: 32px;
$navbar-padding-x:	32px;
// buttons
$btn-padding-y: 8px;
$btn-padding-x: 30px;
$btn-border-radius: 5px;
$btn-font-weight: 300;
$btn-font-family: $font-poppins-serif;
//type
$headings-font-family: $font-poppins-serif;
$headings-font-weight: 700;
$headings-line-height: 24px;
$headings-color: #000000;
$theme-colors: (
  "primary": #015D98,
  "warning": #FF9F43,
  "danger": #ff4136,
  "success": #2CCC74,
);
$danger: #ff4136;
$warning: #FF9F43;
$primary: #015D98;
$success: #2CCC74;
// Option B: Include parts of Bootstrap

// Required
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

// Optional
@import "./node_modules/bootstrap/scss/bootstrap-reboot";
@import "./node_modules/bootstrap/scss/bootstrap-utilities";
@import "./node_modules/bootstrap/scss/bootstrap-grid";
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/containers";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/alert";
@import "./node_modules/bootstrap/scss/close";
@import "./node_modules/bootstrap/scss/tables";
@import "./node_modules/bootstrap/scss/helpers";

// pages
@import "mymixin";
@import "myvariables";
@import "components/button";
@import "components/alert";
@import "components/form";
@import "global";
@import "pages/invoice";
